var notification = $('#notification').hide().empty();
notification.html('<div class="alert alert-success" role="alert">Photo is reported!</div>').slideDown().delay(2000).slideUp();
$('#report-button-<%=@report.photo_id%>').hide('slow');
